<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--数据库连接文件-->
	<add key="DbConnFile" value="D:\AutoCreateCodeFile\hndl_conn.txt"/>

	<!--Model代码的命名空间-->
	<add key="NameSpace" value="xihesms.Model"/>

	<!--类文件保存路径-->
	<add key="FileSavePath" value="D:\AutoCreateCodeFile\"/>

	<!--视图对象后缀，代码默认Vo，参考：UserVo.cs -->
	<add key="ViewObjSuffix" value=""/>

	<!--请求对象后缀,代码默认Request，参考：UserRequest.cs -->
	<add key="RequestObjSuffix" value=""/>

	<!--视图对象和请求对象，生成过滤的字段 -->
	<add key="FilterFields" value="bak_field1,bak_field2,modifed_on,modifed_by,modifed_user_id"/>
	
</configuration>